html {
    scroll-behavior: smooth;
}

body {
    /* font-family: system-ui, -apple-system, sans-serif; */
    font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #121212;
    background: #ffffff;
}

main {
    max-width: 65ch;
    margin: 0 auto;
    padding: 1em;
}

header {
    margin: 0 0 8em 0;
    padding: 0;
}

article {
    margin: 8em auto;
}

footer {
    min-height: 50vh;
    padding: 0;
    margin: 8em auto;
    font-style: italic;
}

h1 {
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 2em 0;
}

p {
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 2em 0;
}

a {
    color: inherit;
}

::selection {
    background: #121212;
    color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background: #121212;
    }

    ::selection {
        background: #ffffff;
        color: #121212;
    }
}